body{
    width 100%;
background-color: #FACCD3

}
li{
    display: inline;
background-color: gray;
    width: 100%;
    padding: 20px;
    position: sticky;
}
a {

    padding: 8px;
    background-color: 333;
    color: black;
}
li a:hover {
    background-color:green
    }
.footer{
     background-color: gray;
padding: 20px;
    clear: both
}
