body {
    width 100%;
    font-family: 'PT Sans', sans-serif;
}

li {
    display: inline;
    background-color: blue;
    width: 100%;
    color: white;
    padding: 20px;
    position: sticky;
}

.navbar {
    background-color: blue;
    padding: 20px;
}

h2 {
    position: center;
}

table a     {
    color: black;
}

a {
    background-color: 333;
    color: white;
}

li a:hover {
    background-color: green
}

.footer {
    background-color: gray;
    padding: 20px;
    clear: both;
    background-color: blue;
    color: white;
}
