/* This is the style sheet is for web pages */
body {
    width: 95%;
    background-color: aliceblue;
    color: black;
    font-family: 'Oswald', sans-serif;
    border: 5px;
    padding: 10px;
    margin: 2px;
    border-style: solid;
    border-color: grey;
}
#title {

    height: 100px;
    background-color: darkmagenta;
    font-family: monospace;
    font-size: 32;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20;
}

   #navig {
    background-color: greenyellow;
    font-family: arial;
    word-spacing: 120px;
    font-size: 26;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20;
    height: 100px;
    text-align: center;
} 
#container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
